.link {
  width: 37px;
  height: 37px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-gray-1);
  cursor: pointer;

  &:hover {
    color: var(--mantine-color-gray-1);
  }

  &[data-active] {
    background: rgba(255,255,255,0.15);
  }
}

.navbar {
  background-color: var(--mantine-color-gray-8);
  padding: var(--mantine-spacing-xs);
  border: none;

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.tooltip {
  margin-left: 20px;
  font-weight: 500;
  color: var(--mantine-color-light-0);
  background-color: #5F45FF;

  /* @mixin dark {
    background-color: darken(var(--mantine-primary-color-8), 0.45);
    color: var(--mantine-primary-color-4);
  } */
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--mantine-spacing-xs);
}

.logo {
  width: 100%;
  height: auto;
  position: relative;
}
